<h2>Index of jobs</h2>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <%= link_to "Create a job list", new_job_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="filter-form">
        <h2>Top Jobs</h2>
      </div>
    </div>
    <div class="col-8">
      <div class="job-wrapper">
        <% @jobs.each do |job| %>
          <div class="job-card d-flex pt-3">
            <%= image_tag "https://source.unsplash.com/random" %>
            <div class="job-details">
              <div class="co-12 col-sm-6 col-md-4 mb-3">
                <%= link_to job_path(job), class:"text-decoration-none" do %>
                  <div class="card-category" >
                    <%= job.title %>
                  </div>
                <% end %>
              </div>
              <p><%= job.description %></p>
              <div class="d-flex">
                <p><%= job.budget %></p>
              </div>
              <p><%= job.employer.username %></p>
              <p><%= job.employer.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
