<%= render "shared/secondary_navbar" %>

<!-- search bar -->
<div class="black-header">
  <div class="container px-4">
    <h2 class="text-white">Browse</h2>
    <div class="input-group d-flex">
      <div class="form-outline flex-grow-1">
        <input type="search" id="form1" class="form-control"/>
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
        Search
      </button>
    </div>
  </div>
</div>

<!-- end search -->
<div class="container mt-2">
  <div class="white-box">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <div class="result-info d-flex">
          <h5 class="me-3">Top results</h5>
          <p class="me-3 fw-light">1-5 of
            <% Job.all.size %>
            results</p>
          <p class="me-3 fw-light">
            <i class="fa-solid fa-bell"></i>
            Receive alerts for this search
            <i class="fa-solid fa-toggle-on ms-2 me-3"></i>
          </p>
        </div>
        <div class="sort-dropdown">
          Sort by
          <%= select_tag(:city, options_for_select(['Newest first', 'Lowest budget first', 'highest budget first'], 'Newest first')) %>
        </div>
      </div>
    </div>


    <% @jobs.each do |job| %>
      <div class="freelancer-card d-flex pt-3">
        <div class="job-details">
          <div class="d-flex justify-content-between">
            <%= link_to job_path(job), class:"text-primary fs-4" do %>
              <%= job.title %>
            <% end %>
            <p class="fs-4 text-body">$
              <%= job.budget %>
              USD</p>
          </div>
          <p><%= job.description %></p>
          <p class="fs-6 text-primary"><%= Faker::Job.key_skill %>
            •
            <%= Faker::Job.key_skill %>
            •
            <%= Faker::Job.key_skill %>
            •
            <%= Faker::Job.key_skill %>
            •
            <%= Faker::Job.key_skill %></p>
          <div class="d-flex justify-content-between">
            <p class="mb-2">
              <i class="fa-solid fa-star text-danger"></i>
              <i class="fa-solid fa-star text-danger"></i>
              <i class="fa-solid fa-star text-danger"></i>
              <i class="fa-solid fa-star text-danger"></i>
              <i class="fa-solid fa-star text-danger"></i>
              <%= rand(4.7..5).round(1) %>
              <i class="fa-solid fa-message ms-3"></i>
              <%= rand(1..5) %>
            </p>
            <i class="fa-regular fa-bookmark"></i>
          </div>
        </div>
      </div>
    <% end %>
    <div class="d-flex flex-row-reverse">
      <%= will_paginate @jobs %>
    </div>
  </div>
</div>
