<h2>Job index</h2>

<ul>
  <% @jobs.each do |job| %>
    <li>
      <p><%= job.title %></p>
      <p><%= job.description %></p>
      <p><%= job.budget %></p>
      <p><%= job.employer.username %></p>
      <p><%= job.employer.name %></p>
    </li>
  <% end %>
</ul>
