<div class="container mt-2">
  <div class="row">
    <div class="search-form-control form-group">
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      <% end %>
    </div>
    <div class="col-12">
      <div class="freelancer-wrapper">
        <%= select_tag(:city, options_for_select(['Newest first', 'Lowest budget first', 'highest budget first'], 'Newest first')) %>
        <p><span class="d-block pt-2 px-2"><%= @jobs.count %> jobs found, pricing in USD</span></p>
        <%= will_paginate @jobs %>
        <p>Showing
          <%= @jobs.count %>
          results</p>
      </div>
      <% @jobs.each do |job| %>
        <div class="freelancer-card d-flex pt-3">
          <div class="job-details">
            <%= link_to job_path(job), class:"text-decoration-none" do %>
              <%= job.title %>
            <% end %>
            <p><%= job.description %></p>
            <p><%= job.budget %></p>
            <p><%= job.employer.username %></p>
            <p><%= job.employer.name %></p>
            <button type="button" class="btn btn-success">Bid now</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <%= link_to "Create a job list", new_job_path, class: "btn btn-flat" %>
  </div>
</div>
