<h2><%= @job.title %></h2>
<p><%= @job.description %></p>
<p><%= @job.budget %></p>
<p><%= @job.employer.username %></p>
<p><%= @job.employer.name %></p>
<p><%= @job.start_date %></p>
<p><%= @job.end_date %></p>
<p><%= @job.created_at %></p>
<h1>Hello </h1>
