<%= render "shared/secondary_navbar" %>
<!-- job header -->
<div class="black-header">
  <div class="container px-4">
    <div class="d-flex align-items-center justify-content-between">
      <h2><%= @job.title %></h2>
      <p class="fw-bold">
        <% if @job.open? %>
          <%= "Open" %>
        <% else %>
          <%= "Closed" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<!-- end header -->
<!-- job description -->
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="white-box">
        <div class="d-flex justify-content-between align-items-center border-bottom py-3">
          <h3 class="font-weight-bold">Project Details</h3>
          <h5 class="font-weight-bold">$<%= @job.budget %>
            USD</h5>
        </div>
        <p class="mt-4"><%= @job.description %></p>
        <h5 class="mt-5 mb-3">Skills Required</h5>
        <ul class="list-inline">
          <li class="list-inline-item mx-0">
            <input class="btn btn-outline-secondary rounded-pill" type="button" value="<%= Faker::Job.key_skill %>"></li>
            <input class="btn btn-outline-secondary rounded-pill" type="button" value="<%= Faker::Job.key_skill %>"></li>
            <input class="btn btn-outline-secondary rounded-pill" type="button" value="<%= Faker::Job.key_skill %>"></li>
            <input class="btn btn-outline-secondary rounded-pill" type="button" value="<%= Faker::Job.key_skill %>"></li>
            <input class="btn btn-outline-secondary rounded-pill" type="button" value="<%= Faker::Job.key_skill %>"></li>
          </ul>
          <p class="mt-5">Project ID:
            <%= rand(34734362..45713134) %></p>
        </div>
        <!-- end job description -->
        <!-- bid index section -->

        <% if (current_user == @job.employer) && @job.open? %>
          <div class="white-box">
            <div class="border-bottom py-3">
              <h3 class="font-weight-bold">Current Bids</h3>
            </div>

            <% @bids.each do |bid| %>
              <div class="freelancer-card d-flex">
                <div class="freelancer-card-photo">
                  <%= image_tag cl_image_path bid.freelancer.photo.key %>
                </div>

                <div class="freelancer-card-details">
                  <div class="d-flex align-items-center">
                    <h3><%= bid.freelancer.name %></h3>
                    <p class="mb-2 mx-2">@<%= bid.freelancer.username %></p>
                    <p class="mb-2 mx-2" style="font-size:20px;">
                      <i class="fa-solid fa-shield-heart"></i>
                      <i class="fa-solid fa-shield-virus"></i>
                      <i class="fa-solid fa-building-user"></i>
                    </p>
                  </div>
                  <p>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <%= rand(4.7..5).round(1) %>
                    (<%= rand(1..20) %>
                    reviews)
                  </p>
                  <p><%= bid.freelancer.description %></p>
                  <p><%= bid.id %></p>
                  <p><%= bid.job.id %></p>
                  <p><%= bid.job.employer == current_user %></p>
                </div>
                <div class="freelancer-card-rates">
                  <h3>$<%= rand(50..500) %>
                    USD</h3>
                  <p>per hour</p>
                  <p>
                    <i class="fa-regular fa-heart"></i>
                  </p>
                  <%= link_to job_bid_path(bid.job, bid), data: {turbo_method: :patch, turbo_confirm: "Acccept bid?"}, class: "btn btn-danger text-white d-inline-block mt-auto p-2" do %>
                    Accept
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <!-- end bid index-->
        <!-- ************** INSERT ALL NEW WHITE BOXES HERE!!!!! NOT BELOW THANKS ************ -->
        <%# ============== "COMPLETE YOUR PROFILE" PARTIAL ============== %>
        <%# if current_user.want_to_work %>
          <div class="white-box"> <div class="border-bottom py-3">
            <h3 class="font-weight-bold">Complete your profile</h3>
          </div>
          <p class="py-3">Please complete these 3 steps before bidding on the project</p>
          <%= image_tag "form-progress-bar.png", class:"progress-bar" %>
          <ul class="d-flex list-unstyled justify-content-between fw-semibold">
            <li>Update your skills</li>
            <li>Verify your email</li>
            <li>Update your profile</li>
          </ul>
          <%= render "shared/bid_form" %>
        </div>
        <%# end %>
      </div>
      <!-- about employer -->
      <div class="col-3">
        <div class="white-box">
          <h5 class="border-bottom py-2">About the Client</h5>
          <div class="row">
            <p class="fs-6 fw-bold col-11">
              <%= @job.employer.name %></p>
          </div>
          <div class="row">
            <div class="col-1">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="col-10">
              <p class="mb-2"><%= @job.employer.location.split(", ")[1] %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <img src="https://www.countryflagicons.com/FLAT/16/<%= @country_code %>.png"></div>
              <div class="col-10">
                <p class="mb-2"><%= Faker::Address.country %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-1">
                <i class="fa-solid fa-user"></i>
              </div>
              <div class="col-10">
                <p class="mb-2">
                  <i class="fa-solid fa-star text-danger"></i>
                  <i class="fa-solid fa-star text-danger"></i>
                  <i class="fa-solid fa-star text-danger"></i>
                  <i class="fa-solid fa-star text-danger"></i>
                  <i class="fa-solid fa-star text-danger"></i>
                  <%= rand(4.7..5).round(1) %>
                  <i class="fa-solid fa-message ms-3"></i>
                  <%= rand(1..20) %>
                </p>
              </div>
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-clock"></i>
                </div>
                <div class="col-10">
                  <p class="mb-2"><%= @job.employer.created_at.strftime("Joined %B %d, %Y") %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
