<h2><%= @job.title %></h2>

<p><%= @job.description %></p>
<p><%= @job.budget %></p>
<p><%= @job.employer.username %></p>
<p><%= @job.employer.name %></p>
<p><%= @job.start_date.to_date %></p>
<p><%= @job.end_date.to_date %></p>
<p><%= @job.created_at.to_date %></p>

<%# ============== "COMPLETE YOUR PROFILE" PARTIAL ============== %>


<%# if current_user.want_to_work %>
<%= render "shared/bid_form" %>
<%# end %>
