<%= render "shared/secondary_navbar" %>
<div class="container mt-2">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="white-box">
        <div class="d-flex justify-content-between border-bottom py-2 mb-3">
          <div class="result-info d-flex">
            <h5 class="me-3">Top results</h5>
            <p class="me-3 fw-light">1-5 of
              <% Job.all.size %>
              results</p>
            <p class="me-3 fw-light">
              <i class="fa-solid fa-bell"></i>
              Receive alerts for this search
              <i class="fa-solid fa-toggle-on ms-2 me-3"></i>
            </p>
          </div>
          <div class="sort-dropdown">
            Sort by
            <%= select_tag(:city, options_for_select(['Newest first', 'Lowest budget first', 'highest budget first'], 'Newest first')) %>
          </div>
        </div>

        <% @freelancers.each do |freelancer| %>
          <div class="freelancer-card d-flex pt-3">

            <%= link_to freelancer_path(freelancer) do %>

              <div class="freelancer-card-photo">
                <%= image_tag cl_image_path freelancer.photo.key %>
              </div>

              <div class="freelancer-card-details">
                <div class="d-flex align-items-center">
                  <h3><%= freelancer.name %></h3>
                  <p class="mb-2 mx-2">@<%= freelancer.username %></p>
                  <p class="mb-2 mx-2" style="font-size:20px;">
                    <i class="fa-solid fa-shield-heart"></i>
                    <i class="fa-solid fa-shield-virus"></i>
                    <i class="fa-solid fa-building-user"></i>
                  </p>
                </div>
                <p>
                  <i class="fa-solid fa-star text-danger"></i>
                  <i class="fa-solid fa-star text-danger"></i>
                  <i class="fa-solid fa-star text-danger"></i>
                  <i class="fa-solid fa-star text-danger"></i>
                  <i class="fa-solid fa-star text-danger"></i>
                  <%= rand(4.7..5).round(1) %>
                  (<%= rand(1..20) %>
                  reviews)
                  <i class="fa-solid fa-message ms-3"></i>
                  <%= rand(1..20) %>
                </p>
                <p><%= freelancer.description[0..300] %>...</p>
                <p><%= Faker::Job.key_skill %>
                  •
                  <%= Faker::Job.key_skill %>
                  •
                  <%= Faker::Job.key_skill %></p>
              </div>

            <% end %>

            <div class="freelancer-card-rates">
              <h3>$<%= rand(50..500) %>
                USD</h3>
              <p>per hour</p>
              <p>
                <i class="fs-4 fa-regular fa-heart"></i>
              </p>
              <%= link_to new_user_registration_path, class: "btn btn-primary d-inline-block mt-auto p-2" do %>
                Request quote
              <% end %>
            </div>

          </div>
        <% end %>
        <div class="d-flex flex-row-reverse">
          <%= will_paginate @freelancers %>
        </div>
      </div>
    </div>

  </div>
</div>
