<%= render "shared/secondary_navbar" %>
<div class="container mt-2">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="freelancer-wrapper">
        <%= will_paginate @freelancers %>
        <p>Showing
          <%= @freelancers.count %>
          results</p>
        <% @freelancers.each do |freelancer| %>
          <div class="freelancer-card d-flex pt-3">
            <%= link_to freelancer_path(freelancer) do %>
              <div class="freelancer-card-photo">
                <%= image_tag cl_image_path freelancer.photo.key %>
              </div>
              <div class="freelancer-card-details">
                <div class="d-flex align-items-center">
                  <h3><%= freelancer.name %></h3>
                  <p class="mb-2 mx-2" style="color: rgb(143, 143, 143); font-size:20px;">@<%= freelancer.username %></p>
                  <p class="mb-2 mx-1" style="font-size:20px;">
                    <i class="fa-solid fa-shield-dog"></i>
                    <i class="fa-brands fa-gratipay"></i>
                    <i class="fa-solid fa-building"></i>
                  </p>
                </div>
                <div class="d-flex align-items-center">
                  <p>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <i class="fa-solid fa-star text-danger"></i>
                    <%= rand(4.7..5).round(1) %>
                    (<%= rand(1..20) %>
                    reviews)
                  </p>
                </div>
                <p><%= freelancer.description %></p>
              </div>
            <% end %>
            <div class="freelancer-card-rates">
                <h3>$<%= rand(50..500) %> USD</h3>
                <p>per hour</p>
                <%= link_to new_user_registration_path, class: "btn btn-primary d-inline-block mt-auto p-2" do %>
                  <%= image_tag "small_bird.jpg", style: "height: 32px" %>
                  Hire me
                <% end %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
