<div class="background-img"></div>

<div class="profile-bar">
  <div class="container">
    <div class="profile-bar-content">
      <img src="https://source.unsplash.com/random" alt="avatar" class="rounded me-3" style="width: 50px; height: 50px; object-fit: cover;">
        <h4 class="fs-sm"><%= @user.name %></h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="white-box d-flex justify-content-between">
      <div class="d-flex flex-column">
        <img src="https://source.unsplash.com/random" alt="avatar" class="rounded me-2 mb-2" style="width: 250px; height: 250px; object-fit: cover;">
          <p><%= @user.location.split(",")[1] %></p>
        </div>
        <div class="flex-grow-1 ms-2">
          <div class="d-flex justify-content-between">
            <h2>
              <strong><%= @user.name %></strong>
              @<%= @user.username %>
            </h2>
            <a href="#" class="btn btn-primary">Edit profile</a>
          </div>
          <p class="font-weight-light"><%= @user.tagline %></p>
          <p><%= @user.description %></p>
        </div>
      </div>

      <div class="white-box">
        <h3 class="border-bottom">Portfolio Items</h3>
        <%# these should be cards! %>

        <ul class="list-unstyled">
          <div class="cards">
            <% @successful_bids.each do |bid| %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
                <li><%= bid.job.title %></li>
              </div>
            <% end %>
          </div>
        </ul>
        <p>blank space</p>
      </div>
    </div>
  </div>
