<div class="d-flex">
  <h2>
    <strong><%= @user.name %></strong>
    @<%= @user.username %>
  </h2>
  <div class="btn btn-primary"><%= link_to "Edit profile", '#' %></div>
</div>

<!---- <p>
  <%= @user.email %>
  <%= @user.name %>
  <%= @user.description %>
  <%= @user.location %>
  <%= @user.tagline %>
  <%= @user.want_to_work %>
</p>
---->
