<div class="container">
  <div class="white-box">
    <div class="d-flex justify-content-between">
      <h2>
        <strong><%= @user.name %></strong>
        @<%= @user.username %>
      </h2>
      <%= link_to "Edit profile", '#', class: "btn btn-primary" %>
    </div>
  </div>
</div>
<!---- <p>
  <%= @user.email %>
  <%= @user.name %>
  <%= @user.description %>
  <%= @user.location %>
  <%= @user.tagline %>
  <%= @user.want_to_work %>
</p>
---->
