<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "freelancerlogo.png" %>
    <% end %>
    <% if user_signed_in? %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Browse", jobs_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Manage", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Groups", "#", class: "nav-link" %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "How It Works", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Browse Jobs", jobs_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Notifications", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown pe-3 border-right border-dark">
            <% if current_user.photo_blob %>
              <%= image_tag (cl_image_path current_user.photo.key), class: "avatar-square dropdown-toggle mx-2", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "default_avatar.png", class: "avatar-square dropdown-toggle mx-2", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "View profile", freelancer_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item me-2">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item me-5">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Post a Project", new_job_path, class: "btn btn-danger text-white" %>
    </div>
  </div>
</div>
