<div class="sec-navbar">
  <div class="container-fluid justify-content-start">
    <%= link_to "Find Jobs", "#", class: "btn" %>
    <%= link_to "Hire Freelancers", freelancers_path, class: "btn" %>
    <%= link_to "Get Ideas", "#", class: "btn" %>
    <%= link_to "About", "#", class: "btn" %>
    <%= link_to "Resources", "#", class: "btn" %>
  </div>
</div>
